In [4]:
import GetOldTweets3 as got
import pandas as pd
import csv
import tweepy
import wordcloud
import matplotlib.pyplot as plt

In [ ]:
#accessing twitter
API_KEY = "MX5o2MunEoqgUKd1DLhPmWzVS"
API_SECRET = "IwiEJ13PUkHtRUzQUAyz8Tq7AdX0yIhSlaxQxhSEMTRy6fm05q"
ACCESS_TOKEN = "1223292053184008195-HaMZR7eK0RHH3PzrPspNKndwZnais8"
ACCESS_TOKEN_SECRET = "jTBPAztCMJPo1zsrCjvrecKBTWaTmRJ4vQiaYRh5tmdkP"

auth = tweepy.OAuthHandler(API_KEY, API_SECRET)
auth.set_access_token(ACCESS_TOKEN, ACCESS_TOKEN_SECRET)

In [5]:
#extracting tweets via getoldtweets
text_query = 'corona virus'
since_date = '2020-01-20'
until_date = '2020-02-03'
user = 'WHO'
count = 10000000000000
tweetCriteria = got.manager.TweetCriteria().setQuerySearch(text_query).setUsername(user).setSince(since_date).setUntil(until_date).setMaxTweets(count)
tweets = got.manager.TweetManager.getTweets(tweetCriteria)
text_tweets = [[tweet.date, tweet.text, tweet.retweets] for tweet in tweets]

In [6]:
#text_tweets

In [7]:
#turning the list into a dataframe
tweetsdf = pd.DataFrame(text_tweets)

In [8]:
tweetsdf

,0,1,2
0,2020-02-02 17:07:23+00:00,Q: Can regularly rinsing your nose with saline...,205
1,2020-02-02 15:34:58+00:00,Q: Can gargling mouthwash protect you from inf...,282
2,2020-01-30 20:11:47+00:00,The full statement by @DrTedros on IHR Emergen...,669
3,2020-01-30 18:10:27+00:00,WHO is proposing ‘2019-nCoV’ as an interim nam...,160
4,2020-01-30 18:08:54+00:00,Public health efforts are targeted at limiting...,98
...,...,...,...
117,2020-01-21 21:01:55+00:00,"On 20 January 2020, Republic of #Korea reporte...",108
118,2020-01-21 20:29:21+00:00,WHO situation report on novel #coronavirus (20...,593
119,2020-01-21 19:05:42+00:00,List of proposed members and advisers to Inter...,86
120,2020-01-20 17:59:06+00:00,The Emergency Committee on the novel #coronavi...,930
121,2020-01-20 17:54:10+00:00,BREAKING: WHO Director-General @DrTedros will ...,4415

In [12]:
#adding columns names
tweetsdf.columns = ['Date','Tweet', 'Retweet']

In [13]:
#sorting values by date
tweetsdf.sort_values('Date',ascending=True, inplace=True)
tweetsdf.head(200)

           Date                                              Tweet  Retweet
121  2020-01-20  BREAKING: WHO Director-General @DrTedros will ...     4415
120  2020-01-20  The Emergency Committee on the novel #coronavi...      930
119  2020-01-21  List of proposed members and advisers to Inter...       86
118  2020-01-21  WHO situation report on novel #coronavirus (20...      593
117  2020-01-21  On 20 January 2020, Republic of #Korea reporte...      108
..          ...                                                ...      ...
4    2020-01-30  Public health efforts are targeted at limiting...       98
3    2020-01-30  WHO is proposing ‘2019-nCoV’ as an interim nam...      160
2    2020-01-30  The full statement by @DrTedros on IHR Emergen...      669
1    2020-02-02  Q: Can gargling mouthwash protect you from inf...      282
0    2020-02-02  Q: Can regularly rinsing your nose with saline...      205

[122 rows x 3 columns]

In [14]:
tweetsdf['Date'] = pd.to_datetime(tweetsdf['Date'])
tweetsdf['Date'] = [d.date() for d in tweetsdf['Date']]
tweetsdf.head(200)

           Date                                              Tweet  Retweet
121  2020-01-20  BREAKING: WHO Director-General @DrTedros will ...     4415
120  2020-01-20  The Emergency Committee on the novel #coronavi...      930
119  2020-01-21  List of proposed members and advisers to Inter...       86
118  2020-01-21  WHO situation report on novel #coronavirus (20...      593
117  2020-01-21  On 20 January 2020, Republic of #Korea reporte...      108
..          ...                                                ...      ...
4    2020-01-30  Public health efforts are targeted at limiting...       98
3    2020-01-30  WHO is proposing ‘2019-nCoV’ as an interim nam...      160
2    2020-01-30  The full statement by @DrTedros on IHR Emergen...      669
1    2020-02-02  Q: Can gargling mouthwash protect you from inf...      282
0    2020-02-02  Q: Can regularly rinsing your nose with saline...      205

[122 rows x 3 columns]

In [15]:
tweetsdf.head(200)

           Date                                              Tweet  Retweet
121  2020-01-20  BREAKING: WHO Director-General @DrTedros will ...     4415
120  2020-01-20  The Emergency Committee on the novel #coronavi...      930
119  2020-01-21  List of proposed members and advisers to Inter...       86
118  2020-01-21  WHO situation report on novel #coronavirus (20...      593
117  2020-01-21  On 20 January 2020, Republic of #Korea reporte...      108
..          ...                                                ...      ...
4    2020-01-30  Public health efforts are targeted at limiting...       98
3    2020-01-30  WHO is proposing ‘2019-nCoV’ as an interim nam...      160
2    2020-01-30  The full statement by @DrTedros on IHR Emergen...      669
1    2020-02-02  Q: Can gargling mouthwash protect you from inf...      282
0    2020-02-02  Q: Can regularly rinsing your nose with saline...      205

[122 rows x 3 columns]

In [16]:
#condensing dates and adding up the number of retweets
condense = lambda a: "/".join(a) 
finalds = tweetsdf.groupby(by='Date',as_index=False).agg({'Tweet': condense, 'Retweet': 'sum'})

In [17]:
finalds.head(200)

          Date                                              Tweet  Retweet
0   2020-01-20  BREAKING: WHO Director-General @DrTedros will ...     5345
1   2020-01-21  List of proposed members and advisers to Inter...     1495
2   2020-01-22  WHO interim guidance: Clinical management - ho...     6683
3   2020-01-23  "I wish to reiterate that the fact I am not de...    10801
4   2020-01-25  WHO’s risk assessment of the new #coronavirus ...     4940
5   2020-01-26  WHO is working with networks of specialists to...     3833
6   2020-01-27  Q: Does the new #coronavirus (2019-nC0V) affec...    12865
7   2020-01-28  WHO has also updated the Disease Commodity Pac...     3218
8   2020-01-29  “We are at an important juncture in this event...     5061
9   2020-01-30  The International Health Regulations Emergency...     2985
10  2020-02-02  Q: Can gargling mouthwash protect you from inf...      487

In [18]:
pd.set_option('max_colwidth', 40)

In [19]:
finalds

          Date                                    Tweet  Retweet
0   2020-01-20  BREAKING: WHO Director-General @DrTe...     5345
1   2020-01-21  List of proposed members and adviser...     1495
2   2020-01-22  WHO interim guidance: Clinical manag...     6683
3   2020-01-23  "I wish to reiterate that the fact I...    10801
4   2020-01-25  WHO’s risk assessment of the new #co...     4940
5   2020-01-26  WHO is working with networks of spec...     3833
6   2020-01-27  Q: Does the new #coronavirus (2019-n...    12865
7   2020-01-28  WHO has also updated the Disease Com...     3218
8   2020-01-29  “We are at an important juncture in ...     5061
9   2020-01-30  The International Health Regulations...     2985
10  2020-02-02  Q: Can gargling mouthwash protect yo...      487

In [20]:
[tweetsdf['Date'].value_counts()]

[2020-01-23    34
 2020-01-22    31
 2020-01-27    15
 2020-01-30    12
 2020-01-28    10
 2020-01-29     6
 2020-01-26     5
 2020-01-21     4
 2020-01-20     2
 2020-02-02     2
 2020-01-25     1
 Name: Date, dtype: int64]

In [22]:
df_val_counts = pd.DataFrame(tweetsdf['Date'].value_counts().reset_index())

         index  Date
0   2020-01-23    34
1   2020-01-22    31
2   2020-01-27    15
3   2020-01-30    12
4   2020-01-28    10
5   2020-01-29     6
6   2020-01-26     5
7   2020-01-21     4
8   2020-01-20     2
9   2020-02-02     2
10  2020-01-25     1

In [31]:
#df_val_counts.rename(cols='date','tweets')

df_val_counts.columns = ['Date','tweets']
df_val_counts

          Date  tweets
0   2020-01-23      34
1   2020-01-22      31
2   2020-01-27      15
3   2020-01-30      12
4   2020-01-28      10
5   2020-01-29       6
6   2020-01-26       5
7   2020-01-21       4
8   2020-01-20       2
9   2020-02-02       2
10  2020-01-25       1

In [32]:
df_val_counts.sort_values(by='Date')

          Date  tweets
8   2020-01-20       2
7   2020-01-21       4
1   2020-01-22      31
0   2020-01-23      34
10  2020-01-25       1
6   2020-01-26       5
2   2020-01-27      15
4   2020-01-28      10
5   2020-01-29       6
3   2020-01-30      12
9   2020-02-02       2

In [33]:
tweetsfinal = pd.merge(df_val_counts, finalds, on='Date', left_index=True, right_index=False)

In [38]:
tweetsfinal.drop(['Tweet'], axis=1, inplace=True)

In [39]:
tweetsfinal.sort_values(by='Date')

          Date  tweets  Retweet
0   2020-01-20       2     5345
1   2020-01-21       4     1495
2   2020-01-22      31     6683
3   2020-01-23      34    10801
4   2020-01-25       1     4940
5   2020-01-26       5     3833
6   2020-01-27      15    12865
7   2020-01-28      10     3218
8   2020-01-29       6     5061
9   2020-01-30      12     2985
10  2020-02-02       2      487

# IGNORE BELOW

In [ ]:
#getting rid of dates as index column
df_val_counts['Dates'] = df_val_counts.index
df_val_counts.reset_index(level=0, inplace=True)
df_val_counts

In [ ]:
list(df_val_counts.columns.values)

In [ ]:
df_val_counts.drop('Dates')

In [ ]:
df_val_counts.sort_values(by='Dates')

In [ ]:
#replacing the count of tweets by the tweets in the original table
finalds['Tweet'] = df_val_counts['Date']

In [ ]:
#renaming columns
finalds.columns = ['date', 'tweets', 'retweets']
finalds

In [ ]:
import re

In [ ]:
#leaning tweets to create a wordcloud if possible
tweetsdf['Tweet'].values
tweetsdf['Tweet'] = tweetsdf.Tweet.str.replace('\'','')
tweetsdf['Tweet'] = tweetsdf.Tweet.str.replace('\@','') 
tweetsdf['Tweet'] = tweetsdf['Tweet'].replace(r'http\S+', '', regex=True).replace(r'www\S+', '', regex=True)

In [ ]:
pd.set_option('max_colwidth', 400)
tweetsdf[['Tweet']]

In [ ]:
#turning tweets into tuples to use on wordcloud
tuples = [tuple(x) for x in tweetsdf['Tweet']]

In [ ]:
#turning tweets into dict to use on worldcloud (didn't work with tuples)
data = dict(zip(tweetsdf['Tweet'].tolist(), finalds['tweets'].tolist()))

data

In [ ]:
from wordcloud import WordCloud

wc = WordCloud(width=800, height=400, max_words=200).generate_from_frequencies(data)

In [ ]:
#creating the wordcloud
from wordcloud import WordCloud, STOPWORDS
import matplotlib.pyplot as plt
stopwords = set(STOPWORDS)

def show_wordcloud(data, title = None):
    wordcloud = WordCloud(
        background_color='black',
        stopwords=stopwords,
        max_words=400,
        max_font_size=40, 
        scale=3,
        random_state=1 # chosen at random by flipping a coin; it was heads
    ).generate(str(data))

    fig = plt.figure(1, figsize=(12, 12))
    plt.axis('off')
    if title: 
        fig.suptitle(title, fontsize=20)
        fig.subplots_adjust(top=2.3)

    plt.imshow(wordcloud,interpolation = 'bilinear')
    plt.show()
    
show_wordcloud(data, title = None)